<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
    <table>
      {% for item in site.data.publications.index %}
      <tr>
        <td style='border:none;'><a href="{{ item.image }}"> <img src="{{ item.image }}" height="150"></a></td>
        <td style='border:none;'><p><a href="{{ item.url }}">{{ item.name }}</a></p></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>
