$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}

.table-latitude {
  width: 100%;
  caption {
      text-transform: uppercase;
      font-weight: bold;
      color: $lfs-yellow;
      text-align: center;
  }
  thead {
      border-top: 2px solid $lfs-yellow;
      border-bottom: 2px solid $lfs-yellow;
      th {
          text-transform: uppercase;
          text-align: center;
          padding: 10px;
          color: $lfs-blue;
          border: 1px solid #F1F1F1;
      }
  }
  tbody {
      tr {
          border-bottom: 1px solid #F1F1F1;
          color: $lfs-grey;
          td {
              padding: 10px;
              border: 1px solid #F1F1F1;
          }
          th {
              padding-left: 10px;
              border: 1px solid #F1F1F1;
          }
      }
  }
  tfoot {
      color: $lfs-yellow;
      font-style: italic;
      border-bottom: 2px solid $lfs-yellow;
      tr {
          td {
              padding: 10px;
              border: 1px solid #F1F1F1;
          }
      }
  }
}