---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}

    <h4 id="Course Info">Course Info</h4>
    <p>In this course, students will learn the programming language Python for their careers in healthcare industries. The course covers an introduction to the basic language syntax, the concept of object-oriented programming, and the usage of powerful packages. This course aims to develop students' capability of programming in terms of understanding given pieces of code and implementing their programs for entry-level tasks and data analysis. This course includes lectures and coding practice, a midterm exam, and a final project with a presentation. Because there are plentiful resources for self-studying Python through books and video tutorials, students are encouraged to learn on their own and seek help from me and the TA.</p>

    <h4 id="Requirement">Requirement</h4>
    <p>High-school-level mathematics</p>

    <h4 id="Grade">Grade</h4>
    <p>10% Exercise, 30% Midterm, 45% Final project, 15% Attendance</p>

    <h4 id="Textbook">Textbook</h4>
    <p>Not assigned because there are many books explaining the syntax of the Python language, even the Python Foundation's <a href="https://docs.python.org/3/tutorial/index.html">online tutorial</a> helps. Python 3 has been released for years, and the syntax changes little in recent years. Most books published after 2017 still work in 2024. The only significant added syntax after Python 3.8 is the match-case statements, and all the remaining ones are unlikely to be used in our course.</p>
    
    <h4 id="Resource">Resource</h4>
    <p>School library. You can find 300+ English Python books there.</p>

    <h4 id="Book list (Entry level)">Book list (Entry level)</h4>
    
    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024</td>
          <td>Python Tutorial</td>
          <td>Python Foundation</td>
          <td>It is easy to read like a book.<a href="https://docs.python.org/3/tutorial/index.html">(Link)</a></td>
        </tr>
        <tr>
          <td>2022</td>
          <td>Programming in two semesters: Using Python and Java</td>
          <td>Q. Charatan and A. Kans </td>
          <td>You can download its PDF and EPUB files from our school library and ignore the second part of Java.</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>The Absolute Beginner's Guide to Python Programming: A Step-by-Step Guide with Examples and Lab Exercises</td>
          <td>Kevin Wilson</td>
          <td>You can download its PDF and EPUB files from our school library. The author provide sample code on his <a href="https://github.com/Apress/absolute-beginners-guide-python">GitHub page</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
