---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}

    <h4 id="課程資訊">課程資訊</h4>
    <p>本門課程的內容是教授Python程式設計的概念和技巧給未來會在健康領域工作的學生。課程的涵蓋範圍為：基本語法介紹、物件導向與套件使用。本門課之教學目標為培養學生程式撰寫之基礎概念，使學生具備理解程式語言之能力，能進行初階的資訊分析及系統開發。課程進行為方式為上課講授與上機練習，期中期末利用上機考檢驗成果。由於坊間及網路上教導Python程式設計的書籍與影片很多，修課同學可以自由參考彈性學習，有疑惑由老師和助教幫忙解答。</p>

    <h4 id="修課需求">修課需求</h4>
    <p>高中程度的數學基礎。</p>

    <h4 id="成績計算">成績計算</h4>
    <p>期中考 30% 專題報告 55% 出席 15%</p>

    <h4 id="教科書">教科書</h4>
    <p>待定</p>
    
    <h4 id="參考書籍與資料(以解釋語法為主的)">參考書籍與資料(以解釋語法為主的)</h4>
    
    <table>
      <thead>
        <tr>
          <th>出版年</th>
          <th>題名</th>
          <th>作者</th>
          <th>註</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>持續更新</td>
          <td>Python官網教學文件</td>
          <td>Python基金會</td>
          <td>內容極為充沛完整，有繁中文件，但夾雜了不少簡中字，有搜尋功能，初學者適用其中的<a href="https://docs.python.org/zh-tw/3.11/tutorial/index.html">Python教學</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td><a href="https://simplelearn.tw/python-intro/">Hello Python! Python入門詳細介紹</a></td>
          <td>KC</td>
          <td>部落格文章，Python共36篇，入門語法18篇</td>
        </tr>
        <tr>
          <td> </td>
          <td>碁峰出版社系列</td>
          <td></td>
          <td>文淵閣工作室的Python零基礎入門班系列出了很多年了，Python的內容部份幾乎都一樣，教學影片也一樣(2019錄製)，每年小改版變的是附加內容, 教學影片長120分鐘，內容很紮實</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>Python零基礎入門班:一次打好程式設計、運算思維與邏輯訓練基本功!(第四版)</td>
          <td>文淵閣工作室 </td>
          <td>碁峰ACL069300 目前校圖有一本，還沒有電子書。Python語法的內容都一樣，差別在第1.5和1.6章，外在的Anaconda, Spyder一直有在釋放新版本, 所以作者更新了圖片，新加短短的1.7章，因為Google Colab是日漸普及的方便工具。<a href="https://www.gotop.com.tw/books/download.aspx?bookid=acl069300">範例及影片下載</a></td>
        </tr>
        <tr>
          <td>2022</td>
          <td>最新Python基礎必修課含ITS Python國際認證模擬試題</td>
          <td>蔡文龍 何嘉益 張志成 張力元</td>
          <td>碁峰AEL025100 Hyread 校圖有，前9章講語法，第10章matplolib，11章tkinter，12章網頁擷取 <a href="https://www.gotop.com.tw/books/download.aspx?bookid=AEL025100">範例下載</a></td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Python零基礎入門班(含ITS Python國際認證模擬試題)</td>
          <td>文淵閣工作室 </td>
          <td>碁峰ACL064500 Hyread 校圖有 <a href="https://www.gotop.com.tw/books/download.aspx?bookid=acl064500">範例及影片下載</a>。內容和Python零基礎入門班:一次打好程式設計、運算思維與邏輯訓練基本功!(第三版)一樣，只是多了一份模擬試題附錄。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python零基礎入門班(含MTA Python國際認證模擬試題)</td>
          <td>文淵閣工作室 </td>
          <td>碁峰ACL054231 Hyread 校圖有 <a href="https://www.gotop.com.tw/books/download.aspx?bookid=ACL0554231">範例及影片下載</a></td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Python零基礎入門班:一次打好程式設計、運算思維與邏輯訓練基本功!(第三版)</td>
          <td>文淵閣工作室 </td>
          <td>碁峰ACL052032 校圖可連往udn ebook下載 <a href="https://www.gotop.com.tw/books/download.aspx?bookid=ACL052032">範例及影片下載</a>。內容和第二版一樣，只是年份更新而己。</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>Python零基礎入門班:一次打好程式設計、運算思維與邏輯訓練基本功!(第二版)</td>
          <td>文淵閣工作室 </td>
          <td>碁峰ACL052031 Hyread 校圖有 <a href="https://www.gotop.com.tw/books/download.aspx?bookid=ACL052031">範例及影片下載</a></td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Python零基礎入門班:一次打好程式設計、運算思維與邏輯訓練基本功!</td>
          <td>文淵閣工作室 </td>
          <td>碁峰ACL05200 Hyread 校圖有 <a href="https://www.gotop.com.tw/books/download.aspx?bookid=ACL052000">範例及影片下載</a></td>
        </tr>
        <tr>
          <td> </td>
          <td>深智、深石出版社系列</td>
          <td></td>
          <td>洪錦魁出了非常多Python的入門書籍，近年來多由深智、深石出版社出版。Python語法的部份淺顯易懂詳細，範例多習題多。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python邁向領航者之路：超零基礎(全彩印刷)</td>
          <td>洪錦魁 </td>
          <td>深智DM2022，內容為XB1836多加17章海龜繪圖，Hyread 校圖有 <a href="https://deepwisdom.com.tw/%e8%b3%87%e6%ba%90%e4%b8%8b%e8%bc%89/">範例下載</a>，需要先登入</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python零基礎學程式設計與運算思維 王者歸來(第二版)</td>
          <td>洪錦魁 </td>
          <td>深智DM2052，比第一版多了21和22章(網路爬蟲、機器學習)，Hyread 校圖有 <a href="https://deepwisdom.com.tw/%e8%b3%87%e6%ba%90%e4%b8%8b%e8%bc%89/">範例與解答下載</a>，需要先登入</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>Python零基礎學程式設計與運算思維 王者歸來</td>
          <td>洪錦魁 </td>
          <td>深智DM1906 基於XB1828的小改版。Hyread 校圖有，<a href="https://deepwisdom.com.tw/%e8%b3%87%e6%ba%90%e4%b8%8b%e8%bc%89/">範例下載</a>，需要先登入</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Python超零基礎最快樂學習之路 王者歸來</td>
          <td>洪錦魁 </td>
          <td>深石XB1836 只講Python語法<a href="http://www.deepstone.com.tw/xmdoc/cont?xsmsid=0J191295271158913049&amp;sid=0J210261690091745717&amp;sq=%E7%8E%8B%E8%80%85%E6%AD%B8%E4%BE%86">範例下載</a></td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Python零基礎最強入門之路 王者歸來</td>
          <td>洪錦魁 </td>
          <td>深石XB1828 Hyread沒有這本電子書，校圖有紙本書一本。前15章為Python語法，第16章海龜繪圖、第17章Pillow影像處理、第18章tkinter GUI、第19章動畫與遊戲、第20章matplotlib繪製圖表。<a href="https://www.grandtech.com/info/list/0j219225074512548190">範例下載</a>></td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Python入門邁向高手之路 王者歸來</td>
          <td>洪錦魁 </td>
          <td>深石XA1714 Hyread沒有這本電子書，校圖有紙本書一本，附一光碟片，全彩印刷，前13章基本語法，14章檔案，15章除錯，16章正規表達式，17章Word，18章PDF，19章Excel，20章CSV，21~22章網路爬蟲，23章圖表繪製，24章JSON，25章手機簡訊，26章電子郵件，27章影像處理，28章控制滑鼠螢幕鍵盤，29章OCR，30章多工與多執行緒，31章海龜繪圖，32章tkinter繪圖，33章音效，34章OpenCV。涵蓋的範圍非常的廣。</td>
        </tr>
        <tr>
          <td></td>
          <td>博碩出版社系列</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python從初學到生活應用超實務</td>
          <td>陳會安</td>
          <td>博碩MP22205 Hyread 校圖可線上借，前4章講語法，5~16講各12種應用 <a href="https://www.drmaster.com.tw/Bookinfo.asp?BookID=MP22205">範例下載</a></td>
        </tr>
        <tr>
          <td>2022</td>
          <td>好好玩!Python程式設計入門與實例應用:鍛鍊邏輯思維x徹底掌握核心</td>
          <td>李馨</td>
          <td>博碩MP32201 校圖有紙本書，第2章海龜繪圖，第3~8章語法，第9章GUI，第10章PyGame <a href="https://www.drmaster.com.tw/Bookinfo.asp?BookID=MP32201">範例下載</a></td>
        </tr>
        <tr>
          <td>2022</td>
          <td>從零開始學Python程式設計(第三版)</td>
          <td>李馨</td>
          <td>博碩MP32206 Hyread 校圖有，前13章講語法，14章檔案，15章GUI，16章海龜繪圖 <a href="https://www.drmaster.com.tw/Bookinfo.asp?BookID=MP32206">範例下載</a></td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Python程式設計：從入門到進階應用(第三版)</td>
          <td>黃建庭</td>
          <td>前10章語法，第11章標準函式庫，第12章網際網路相關模組：urlib, JSON, XML, BeautifulSoup，第13章資料庫相關模組，第14章Pillow, PyQRCode, NumPy, SciPy, Matplotlib。</td>
        </tr>
      </tbody>
    </table>

    <h4 id="參考書籍與資料(特定領域的應用)">參考書籍與資料(特定領域的應用)</h4>
    <table>
      <thead>
        <tr>
          <th>出版年</th>
          <th>題名</th>
          <th>作者</th>
          <th>註</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023</td>
          <td>Python × Excel的12堂關鍵必修課：資料分析自動化的194個高效實戰例</td>
          <td>吳燦銘</td>
          <td>博碩 MP22305 Hyread 新北市圖有，可以以文化部計次服務無限數量借閱。內容以xlwings為主，兼介紹pandas, matplotlib, pyecharts。這本書不是入門書，因為它假設讀者已經熟悉Python語法了。用Python操作Excel是達到自動化很實用的功能，對各位同學未來的工作很有可能派得上用場。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>數位與醫學的人工智慧影像處理：Python實務</td>
          <td>黃正達 蔡旻嶧 王旭正</td>
          <td>博碩 MP32112 Hyread 校圖有。前兩章：醫學影像，第3~6章OpenCV，第7章：機器學習，第8~11章，醫學影像的常用技術。</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Python實戰聖經：用簡單強大的模組套件完成最強應用</td>
          <td>文淵閣工作室</td>
          <td>碁峰ACL064300 Hyread 校圖有 這本書像是一門模組的小百科全書，講非常多領域的代表模組，每一個都講淺淺的一點點。作者使用Google Colab、介紹的範圍涵蓋爬蟲模組、圖片、YouTube下載模組、影像、聲音、影片處理模組、語音轉文字、文字轉語音、翻譯模組、匯率、股價模組、臉部辦識模組、物件偵測、OCR模組、繁簡轉換、中文斷詞模組、情緒分析、聊天機器人模組、瀏覽器自動化、鍵盤滑鼠自動化模組、MediaPipe、cvzone電腦視覺模組、無程式碼機器學習模組、條碼、QRCode模組、定時執行模組、進度條模組、身份證字號檢查模組、農曆日期模組。本書的最後一章向讀者示範如何將自製模組上傳至PyPI。<a href="https://www.gotop.com.tw/books/download.aspx?bookid=acl064300">範例及教學影片下載</a> 教學影片含Google Colab及Teachable Machine</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>快速學會Python架站技術：活用django 4建構動態網站的16堂課</td>
          <td>何敏煌、林亮昀</td>
          <td>博碩MP22259 校圖有。這本書專講django這個用Python開發出來的架站Web Framework。何博士介紹django已經很多年了，這本書的早期版本《Python新手使用django架站的16堂課》校圖也有，出於2016年。</td>
        </tr>
      </tbody>
    </table>


    <h4 id="參考書籍與資料(與Python無直接相關，但寫程式時用得著的)">參考書籍與資料(與Python無直接相關，但寫程式時用得著的)</h4>
    <table>
      <thead>
        <tr>
          <td>2019</td>
          <td>GitHub創辨人親自指導你精通Git</td>
          <td>Chacon Scott, Straub Ben</td>
          <td>深石XB1909 Hyread 校圖有，內容為網路書籍<a href="https://git-scm.com/book/zh/v2">Pro Git</a>的翻譯，可直接從官網上閱讀或下載pdf，原文為英文版，簡中版翻譯比例高，繁中版翻譯比例低，深石版翻譯很完整。</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
