---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}

    <h4 id="課程資訊">課程資訊</h4>
    <p>本門課程的內容為人工智慧的介紹，旨在培養學生對人工智慧的基礎認識。課程的涵蓋範圍為：人工智慧的歷史、人工智慧的研究到影響，人工智慧各領域的應用。本門課之教學目標為培養學生具備人工智慧的基本知識。課程進行為方式為上課講授與專題研究，期中考試，鼓勵同學將知識內化進個人腦內，期末上台簡報並繳交書面報告，向同學分享小組研究的心得。由於坊間及網路上講解人工智慧的書籍與影片很多，修課同學可以自由參考彈性學習，有疑惑由老師和助教幫忙解答。</p>

    <h4 id="修課需求">修課需求</h4>
    <p>基本的中文說聽讀寫能力。</p>

    <h4 id="成績計算">成績計算</h4>
    <p>期中考 40% 期末報告 45% 出席 15%</br>
    期未報告的內容：和同學組成小組，人數上限5人，有特別宏大的主題的，可以增加人數，下限2人，因為結交志同道點的朋友及與人合作是AI世代非常關鍵的競爭力，我希望透過這門課程增進各位同學這方面的能力，所以不鼓勵沒有隊友，除非你挑的題目真的找不到有興趣的同學，自己一個人作也是可以。題目必需與AI相關的主題，以下有幾個例子。</p>
    <ul>
      <li>文學裏的AI，那你們要去找跟AI相關的文學(通常是小說)，把精華報告給同學聽，文學家或科幻小說家是怎麼運用他們的想像力，創造出他們想像中的AI，再來跟現實中的AI相比，有什麼不同？</li>
      <li>另外有一種專題研究法，是去尋找AI創造出來的文學，看有沒有什麼是很轟動暢銷的，例如說AI寫的詩、歌詞、或小說，讀讀看，品質如何？把精華報告給同學聽。</li>
      <li>愛看影劇的同學，可以去研究影劇裏的AI，或是去研究Netflix是怎麼用AI計算出什麼樣的影劇會熱賣，例如說紙牌屋，但這過程的細節是什麼，數據和演算法是怎麼做、怎麼收集？好萊塢、寶來塢、韓國影劇產業如何跟進？將你們的研究報告給同學聽。</li>
      <li>愛看漫畫的同學，可以去研究漫畫裏的AI，或看看有沒有什麼漫畫傑作是AI畫出來的。</li>
      <li>愛打電玩的同學，可以去研究電玩裏的AI，或研究電玩產業如何用AI製作優秀、有吸引力的AI。</li>
      <li>愛運動的同學，可以去研究運動產業裏有什麼AI應用，或是職業球隊、職業運動員怎麼運用AI提升他們的能力，或是像戴資穎代言的健身魔鏡，到底好不好用。</li>
      <li>喜歡棋類遊戲的同學，可以去研究，向大家分享AlphaZero之後，棋類世界的AI變化有什麼。(有些教授專門研究棋類AI，你們可以去拜訪他們)。</li>
      <li>喜歡美妝的同學，可以去研究AI對美妝的最新應用，向大家分享。</li>
      <li>喜歡時尚的同學，可以去研究AI對時裝界的影響有什麼，向大家分享。</li>
      <li>如果有同學是軍事迷的話，可以去研究戰爭和武器裏的AI，這題目非常的大。</li>
      <li>如果有同學是車迷的話，可以去研究車用的AI。除了搜集資料之外，最好能親身操作一番，把自己的體驗貢獻給同學。</li>
      <li>對投資有興趣的同學，可以去研究AI理財，看看號稱AI投資或是AI理財有幾分真幾分假。</li>
      <li>對法律有興趣的同學，可以去研究AI對律師、法官、訴訟、判決、合約的影響。</li>
      <li>如果有同學懂樂理，可以去研究貝多芬第十號交響曲，AI到底是怎麼把它譜出來的，親身聽起來的感受如何、以及還有哪些是AI創作出來的音樂和歌曲。</li>
      <li>由AI產生的繪圖作品太空歌劇院很轟動，同學可以去研究還有哪些AI產生的畫作是很傑出、得到大獎的、秀給班上同學看。</li>
      <li>愛攝影的同學，可以去研究AI產生的攝影作品，除了Sony世界攝影大獎的冠軍作品「電工」之外，還有哪些傑作，秀給班上同學看。</li>
      <li>因為各位都是醫學院的學生，研究各種各用醫用的AI，報告給同學增廣見聞，以後自己工作也可能會用到，也是不錯的題目。</li>
      <li>還有一種研究法是去摸熟某一種AI應用，因為現在AI的應用如雨後春筍般到處出現。像是在野外看到一種不知道是什麼植物，可以用圖形識別的app去認，但各家產品的好壞要怎麼知道，就需要去研究和試用，將試用心得分享給同學，也是不錯的題目。</li>
    </ul>
    <p>除了期末上台報告和書面報告之外，每一組還要交一張組員貢獻百分比表，可以每一位組員的貢獻百分比都一樣多，那期末報告的分數就會均分，如果有的組員貢獻比較多有的比較少，那期末報告的分數就會按百分比分配給個別組員，各組成員請協議每位成員的貢獻百分比。</br>
    期末報告評分方式：簡報佔40%，其中我和助教的給分佔25%，其他15%由小組之外的班上同學評分取平均。書面報告佔20%。
    </p>

    <h4 id="推薦書籍">推薦書籍</h4>
    <p>人工智慧來了！身為公民您該知道什麼？</p>
    <p>AI世代與我們的未來：人工智慧如何改變生活，甚至是世界？</p>
    <p>AI人工智慧第二版 高昶易編著</p>
  
    <p>AI的範圍非常的廣，從垂直的方向看，底層有資訊技術，每年數以千計的學術論文發表，都在推動AI技術的進度，中層為應用，使用者或有知覺，或不知不覺地，已經使用了AI，最上層有AI對社會、工作、政府、法律衝擊的哲思。就水平的方向看，AI的技術和應用分六大項及許多小項，六大項分別為：影像辨識、語音辨識、自然語言處理、機器人、機器學習及深度學習、推論，每一項都有非多題目可以介紹。至今我還沒找到一本AI的書，垂直面和水平面所有範圍都涵蓋的，而我們這門是通識課，不適合鑽入AI的技術層次，因為技術層次裏有很多數學和資工的域領知識，要全班一起瞭解很困難，除非特意講得很淺。因此我建議各位同學將注意力放在AI的應用與對社會的影響，以上的幾本書都在這個範圍裏。以下的書籍和媒體給同學參考，當作各位同學選期末報告研究領域的起點。</p>

    <h4 id="參考書籍與資料">參考書籍與資料</h4>
    
    <table>
      <tbody>
        <tr>
          <td>年份</td>
          <td>題名</td>
          <td>講者</td>
          <td>媒體</td>
        </tr>
        <tr>
          <td>2023/12</td>
          <td>The Turing Lectures: The future of generative AI</td>
          <td>Michael Wooldridge</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=2kSl0xkq2lM&amp;ab_channel=TheAlanTuringInstitute">(連結)</a>。講者是牛津大學教授，介紹什麼是生成式AI，並預測未來生成式AI發展的方向。語言為英文，可開YouTube的自動翻譯。</td>
        </tr>
        <tr>
          <td>2023/11</td>
          <td>The Turing Lectures: Addressing the risks of generative AI</td>
          <td>Mhairi Aitken</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=UYdx74st9O4&ab_channel=TheAlanTuringInstitute">(連結)</a>。講者是艾倫．圖靈研究所的倫理學研究員，研究領域為社會學。在這場演講中，她用很詼諧的表現方式，點出生成式AI對使用者影響的幾大風險。其內容和《人工智慧來了！身為公民您該知道什麼？》呼應，但在演講中的表現，會令人印象非常深刻。語言為英文，可開YouTube的自動翻譯。</td>
        </tr>
        <tr>
          <td>2023/10</td>
          <td>23.10.02【豐富│世界一把抓】阮慕驊 ╳ 蘇經天：新AI與新人類</td>
          <td>阮慕驊 ╳ 蘇經天</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=k3cjv9_yRgg&ab_channel=%E8%B1%90%E5%AF%8C">(連結)</a>。蘇博士受採訪介紹他的新書，講書中幾個大重點。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI and the future of humanity</td>
          <td>Yuval Noah Harari</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=LWiM-LuRe6w&amp;ab_channel=YuvalNoahHarari">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>TELL Talk《AI時代的英語學習力》</td>
          <td>李海碩</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=RJ3NCzLaZLM&amp;ab_channel=%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%A4%96%E8%AA%9E%E6%95%99%E5%AD%B8%E6%9A%A8%E8%B3%87%E6%BA%90%E4%B8%AD%E5%BF%83">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>善用ChatGPT，讓專業的你更亮眼 ! 生成式AI主題論壇</td>
          <td>Esor Huang</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=iBWJ5rJ_a6I&amp;ab_channel=%E8%87%BA%E5%A4%A7%E6%BC%94%E8%AC%9B%E7%B6%B2">(連結)</a></td>
        </tr>
        <tr>
          <td>2023/10</td>
          <td>人工智慧的契機 (Opportunities in AI)</td>
          <td>Andrew Ng</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=-HHy2ltmQp8&amp;ab_channel=%E8%87%BA%E5%A4%A7%E6%BC%94%E8%AC%9B%E7%B6%B2">(連結)</a>。Andrew Ng是史丹佛大學的客座教授，曾擔任Google的AI主管，他這場來台的演講非常宏觀，從技術出發，講AI的本質，非常值得一聽。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI時代，你跟上了嗎？</td>
          <td>李宏毅</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=iqaiPyvDD4Y&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a>。李宏毅教授是機器學習的專家，他在演講裏告訴聽眾ChatGPT的運作原理。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>打造AI職場力</td>
          <td>程世嘉 Sega</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=Z_TKi51hoCg&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a>。Sega這場演講講AI的在他們公司裏的應用，第一線的經驗，很值得一聽。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>掌握AI行銷力</td>
          <td>程世嘉 Sega</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=gzJtKvSIP-w&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI生態系的未來人才</td>
          <td>蔡宗翰</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=se6hJ5QqMCo&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>復旦人工智能教授：未來3-5年，哪些工作會被AI取代？Fudan AI Professor Talks about Which Jobs Probably to be Replaced by AI</td>
          <td>一条</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=vT54wNB4DM4&amp;ab_channel=%E4%B8%80%E6%9D%A1Yit">(連結)</a></td>
        </tr>
        <tr>
          <td>2019</td>
          <td>人工智慧並沒有你想像中的聰明，但它做得到</td>
          <td>傑夫．迪恩</td>
          <td>TED <a href="https://www.ted.com/talks/jeff_dean_ai_isn_t_as_smart_as_you_think_but_it_could_be?language=zh-tw">(連結)</a>。傑夫．迪恩是Google AI部門的主管，這部影片有點舊了，但它呼應了Andrew Ng教授講的AI的本質。</td>
        </tr>
        <tr>
          <td>2024仍有效</td>
          <td><a href="https://playground.tensorflow.org/">https://playground.tensorflow.org/</a></td>
          <td>Google </td>
          <td>讓人淺嘗類神經網路機器學習的網頁</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>未來司法：AI法官 (Artificial Justice: Justice in times of digital colonialism)</td>
          <td> </td>
          <td>紀錄片。由二位西班牙的法官、一位西班牙的政治經濟分析師、一位歐盟的資料倫理研究員、一位英國社會學教授、一位英國媒體傳播教授、及德國、英國、西班牙的哲學家各一位接受採訪，陳述未來司法判決由電腦程式決定的話，會帶來什麼衝擊、如何維持公平與人權。</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>人造意識 (Ex Machina)</td>
          <td>亞力克斯．嘉蘭自編自導 </td>
          <td>科幻驚悚電影</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>成人世界 (Chappie)</td>
          <td>沙托．科普利主演 </td>
          <td>科幻電影</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>雲端情人 (Her)</td>
          <td>史派克．瓊斯導演 </td>
          <td>科幻愛情劇情電影</td>
        </tr>
        <tr>
          <td>2004</td>
          <td>機械公敵 (I, Robot)</td>
          <td>威爾．史密斯主演 </td>
          <td>科幻動作電影</td>
        </tr>
        <tr>
          <td>2001</td>
          <td>A.I. 人工智慧 (A.I. Artificial Intelligence)</td>
          <td>史蒂芬．史匹柏導演 </td>
          <td>科幻電影</td>
        </tr>
        <tr>
          <td>1999</td>
          <td>變人 (Bicentennial Man)</td>
          <td>羅賓．威廉斯主演 </td>
          <td>科幻喜劇電影</td>
        </tr>
        <tr>
          <td>1982</td>
          <td>銀翼殺手 (Blade Runner)</td>
          <td>雷利．史考特執導，哈里遜．福特主演 </td>
          <td>黑色反烏托邦科幻電影，由1968年的科幻小說《仿生人會夢見電子羊嗎？》改編。這部片上映時口碑和票房都很差，但愈到後來，卻常常入列影史最佳科幻電影。YouTube上可見到影評人的解析<a href="https://www.youtube.com/watch?v=6oN4fRi-fPI&ab_channel=%E9%82%A3%E4%BA%9B%E9%9B%BB%E5%BD%B1%E6%95%99%E6%88%91%E7%9A%84%E4%BA%8BLessonsfromMovies">(那些電影教我的事)</a><a href="https://www.youtube.com/watch?v=KhflQKIRP8I&ab_channel=%E7%94%B5%E5%BD%B1%E6%9C%80TOP%E5%94%AF%E4%B8%80%E5%AE%98%E6%96%B9%E9%A2%91%E9%81%93">(電影最Top)</a>，內容非常深刻，但小心電影畫面有點血腥。與本課程的關連性：讓各位同學體驗一下，若人工智慧發展到非人類在許多面向上都能到達通過圖靈測試的程度，小說家和電影導演會怎麼呈現。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>人工智慧來了！身為公民您該知道什麼？(A Citizen's Guide to Artificial Intelligence)</td>
          <td>約翰．澤里利 編</td>
          <td>北市圖有紙本。這本書的水準相當高，作者群是哲學家、哲學系教授、法律系教授、律師、電腦科學系教授、人工智慧系教授，他們的眼光很廣，看過很多歷史上其他的科技的發展，所以對這一波人工智慧的發展，他們討論的是哲學與法律上的問題，像是什麼叫透明，什麼叫偏誤，什麼叫責任，如何控制，AI會怎麼侵犯隱私，什麼叫隱私，什麼叫自主，AI的就業的影響是什麼，政府要怎麼監管AI。編者約翰．澤里利把作者群的專業知識改寫成一氣呵成的一本書，論點非常多言簡義賅，相當的精彩。原文發行於2021/2，但因為論點著重的是AI的本質與影響，而不是AI的技術發展，所以雖然沒有講到22年和23年火熱發展的AI技術，讀起來卻一點也不會覺得過時。</td>
        </tr>
          <td>2023</td>
          <td>新AI與新人類</td>
          <td>蘇經天</td>
          <td>Hyread 北市圖有這本，但只有三本的量，很難借到。這本書出於2023年9月，很新是一大優點，可以涵蓋到當下熱門的ChatGPT，也是此書的第一部。另一個優點是台灣文本，各位同學可以輕鬆的瞭解作者使用的比喻和典故。在第二部中，作者講了很多LLM(大型語言模型，例如ChatGPT)與人類認知、人類語言之間的關連性，作者看來有這方面的專長，這在其他人工智慧的書籍裏很少見。在第三部中，作者提出許多建議，個人該如何在AI衝擊下趨吉避兇。此書除了LLM，完全不講AI的其他領域，各位同學若想要看得廣一點，需要再找其他的書讀。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>哈佛商業評論推薦必讀的AI趨勢</td>
          <td>哈佛商業評論</td>
          <td>Hyread 校圖有，可線上讀，選Epub版比較適合在螢幕上讀。這本書是十二篇文章的合集，寫作的年份從2020到2022。因為哈佛商業評論的讀者大部份是高階主管，所以這十二篇文章講的主要是AI的影響，偶爾提到一點AI的技術。哈佛商業評論的文章水準一向很高，這本書非常值得一讀。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>寫給小學生看的AI課：看故事，輕鬆搞懂AI人工智慧</td>
          <td>蔡宗翰 </td>
          <td>Hyread 北市圖有，可借數3本，很少，可部份試閱。寫的小學生看的，有注音符號和漫畫，極淺白，但幾個大主題：醫療、遊戲、GAN、聊天機器人、電腦視覺、自駕車、音樂、文生圖，都有涵蓋到。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>AI世代與我們的未來：人工智慧如何改變生活，甚至是世界？</td>
          <td>亨利．季辛吉等三人 </td>
          <td>校圖有1紙本，從校圖可連往udn讀電子書。這本書的三位作者都極有名望，他們從國家、社會、人類的極高角度討論AI會帶來的衝擊。原文書(The Age of AI: And Our Human Future)出於2021/11，所以沒有提到2022年才出現的ChatGPT，但作者的見識非常高遠，已經預見當時的GPT-3對未來的影響巨大。電子書第三章有一個嚴重的錯誤：GPT-3的權重參數達1101個(應為175 billion個)。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>人工智慧(第二版)</td>
          <td>張志勇等5人</td>
          <td>Hyread 校園有，二版的排版和初版(2020)不同，但內容的差異非常微小，都是調換位置。二版有電子書，初版沒有。電子書的優點之一是100%全彩，而紙本書只有20%全彩(初版二版都是)，而黑白印刷的部份，有提到紅線、藍線，卻根本分不出來。作者為淡江大學與龍華科大的教授群，內容豐富，涵蓋人工智慧的應用、演算法理論，會用到微積分的知識，並附帶很多實作程式碼，適合作為大學生學習人工智慧技術能力的教科書。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>寫給中學生看的AI課：AI生態系需要文理兼具的未來人才</td>
          <td>蔡宗翰 </td>
          <td>Hyread 校圖有，可線上讀。2023/6有一個增訂版，多了一節2.10生成式AI，因為ChatGPT在22年底才開放給大眾使用。這本書的特色是蔡教授講了很多了他自己在教學現場的故事。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>AI人工智慧(第二版)</td>
          <td>高昶易</td>
          <td>校圖有紙本。這本書有兩個特點，第一，高教授是台灣人，所以範例選材非常的在地，隔闔很小，第二，高教授是資管背景，這本書著重於AI的應用，而不是AI的技術。讀這本書好像在聽一個朋友天南地北地聊各種看得見摸得著的AI，相當有趣，而且完全不講技術，不會讓人害怕聽不懂。再來是這本書的風格非常樂觀，著重於AI應用帶來的各種便利，不太講AI的衝擊與負面影響。奇怪的是，這本書不太常見，既沒有電子版，也沒辦法在北市圖、新北市圖、桃市圖、台灣圖找到。另外是這本書比較不嚴謹，書末沒有列出資料來源清單的附錄，英文名字會拼錯，像Walter Pitts拼成Waltter Pitts。
          </td>
        </tr>
        <tr>
          <td>2021</td>
          <td>人工智慧導論</td>
          <td>徐潔磐</td>
          <td>校圖有一本紙本。這本書是同名書第二版，翻譯為繁體中文的版本，初版於2019年發行。基本上這是一本技術教科書，講了非常多知識表示、知識庫、知識獲取、知識圖譜的內容，是第二波人工智慧的重點，但對第三波人工智慧的重心深度學習講得卻不多也不深。</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>認識人工智慧 第四波工業革命</td>
          <td>劉峻誠、羅明健 </td>
          <td>校圖有一本紙本。劉峻誠博士是Kneron公司的創辨人暨執行長，所以這本書的選題和Kneron公司的產品有關。Kneron公司的產品是USB加速棒，讓沒有GPU的個人電腦獲得快速計算類神經網路的能力。所以這本書的技術篇幅為類神經網路，實作內容為YOLO v3及MobileNet v2，都是電腦視覺的應用，而且都不是大模型，才能在USB加速棒上執行。其他章講醫療、金融、零售、製造、農業、智慧城市、政府、邊緣運算，既廣也淺，因為在前言有提到，這本書是受一個青少年工作坊啟發，所以講得廣、不講太深。另外可以發現，這本書完全沒有提到語言模型，2021年時語言模型還沒有被廣為人知，而且語言模型都大到無法在USB加速棒上執行。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>人工智慧導論：理論、實務及素養</td>
          <td>葛宗融等14人 </td>
          <td>校圖有一本紙本。這本書是14位中原大學教授的合著，涵蓋的領範圍很廣，很適合用以增長見識。但這本書沒有出電子版，又已經絕版，不容易取得。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>AI之書：圖解人工智慧發展史</td>
          <td>柯利弗德．皮寇弗(Clifford A. Pickover) </td>
          <td>Hyread 校圖有，這本書完全不講技術，而是一本科普書，講各種帶有智能或考驗人類智能的機器的歷史，讀起來很輕鬆，但寫得出來要極廣泛的知識。原文書出版於2019年。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>AI背後的暗知識：機器如何學習、認知與改造我們的未來世界</td>
          <td>王維嘉</td>
          <td>Hyread 新北市圖有。這本書的書寫於2019年，以非常高的角度，討論AI如何從底層的技術突破，一路影響到科技產業、職場工作、人類文明、是一本非常宏觀的書，適合給決策者讀以增加其思考判斷的依據。因為寫於2019年，並沒有預知到2019年之後普及的AI技術，像是ChatGPT、文生圖等。但2019年時就大膽預測AI對社會的影響重大，讀者可以以2024的眼光去回測，看看其預測是否有命中。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>全面了解人工智慧：從基本機制到應用例，以及未來發展 人人伽利略05</td>
          <td>日本Newton Press</td>
          <td>這本書只有紙本，校圖有一本，是日本牛頓科學月刊的專冊翻譯本。印刷精美，內容深入淺出，因為牛頓出版社的宗旨就是以貼近日常生活、簡單易明、行文流暢的文章介紹科學知識，佐以大量照片及電腦模擬圖像作為賣點。但因為是為日本讀者而編，所以書中談論的將棋、日翻英，對台灣讀者來說有點隔闔。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>人工智慧導論</td>
          <td>謝邦昌、蘇志雄</td>
          <td>Hyread 校圖有。這本書第一章簡介，第二章機器學習概論，第三章影像辨識，第四章語音辨識，第五章自然語言處理，第六章人工智慧的未來。可看成是第一、二、六章的知識章節加第三到五章三個人工智慧的大主題。就內容而言，第一章相當宏觀，第三章又非常入門，連如何操作Google Colab也教，整本書顯得很混亂。畢竟人工智慧的知識很廣，這本書又講高層又講底層的知識，顯得定位不明確。這本書有一個特點是涵蓋了非常多網路超連結參考資料。</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>人工智慧導論</td>
          <td>鴻海教育基金會出版，陳信希等11人著</td>
          <td>這本書是為高中生授課而創，由台大交大中大政大教授主編，內容紮實，有不少數學，並且有預製的投影片、學習單、教學進度免費下載，足以上36小時的課，是一套非常完整的教材。</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>人工智慧基礎</td>
          <td>湯曉鷗、陳玉琨主編</td>
          <td>這本書是為上海市的高中生編的，年份為2018年，校圖有一本紙本，Hyread沒有電子版。這本書編的品質很穩定，講一些數學，但不會講太多，而且完全不碰程式的部份，只講基礎概念。書中章節涵蓋人工智慧的幾個大主題，為影像分類、影像辨識、音樂、視訊辨識、Clustering、自然語言處理、圖像生成、AlphaGo。但因為成書於2018，所以影像分類講了很了SVM，圖像生成只講了GAN，自然語言處理沒有提到ChatGPT。</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>一本漫畫就讀懂！人工智慧：AI究竟能為人類作什麼</td>
          <td>松尾豐監修，菅洋子繪</td>
          <td>校圖有一本，乍看之下是漫畫，但內容很不俗，深入淺出，切中重點，適合社會大眾讀，松尾豐教授是這方面的專家。因為日文原著出版於2018年，所以18年之後的AI發展都沒有涵蓋到，但18年之前的，像是AI的歷史，什麼叫智能，用畫的令人非常易懂。</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>人工智慧：現代方法(第三版)</td>
          <td>Stuart Russell, Peter Norvig</td>
          <td>校圖有，這是一本第三波人工智慧爆發前的經典教科書，原文第一版出於1995年，這本第三版的原文出於2009年，所以中文第三版譯本雖然出於2018年，內容卻停留在2009年，於是在這本書裏，機器學習的技術只提到SVM這種淺層的方法。這本書的英文在2020年有出第四版，有翻成簡體中文版，但還沒有出現繁體中文版。第四版大幅增加了機器學習的內容，也擴增了電腦視覺頁數，因為電腦視覺在2009年到2020年之間進步非常多。但因為這本書的原文第四版出於2020年，所以2022後出現的大型語言模型的爆發來不及寫進去。</td>
        </tr>
        <tr>
          <td>2017</td>
          <td>從人到人工智慧，破解AI革命的68個核心概念</td>
          <td>三宅陽一郎著，森川幸人插畫</td>
          <td>校圖有一本，我把它看成是一本可愛風的小小AI百科全書，內容是68個AI領域的名詞或術語，用很淺白的話解釋人工智慧所要處理的問題，配上插圖增加趣味和解釋能力，完全不碰數學。所以它在日本很暢銷，因為絕大多數的人讀這本書都不會太吃力。</td>
        </tr>
      </tbody>
    </table>
  </br>
        
    <h4 id="不適合通識課書籍">以下的書不符合我們的課程通識的需求，但我也列出來供同學參考。</h4>
    <table>
      <tbody>
        <tr>
          <td>年份</td>
          <td>題名</td>
          <td>講者</td>
          <td>媒體</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI人工智慧小百科</td>
          <td>娜歐米</td>
          <td>北市圖有，給小朋友讀的，有注音符號，講很多AI的應用，一個應用以一張圖片及一頁的文字來介紹，但它沒有講技術，而且也不區分已經發展成熟的AI和想像中的AI，所以給小朋友增廣見識和一些想像可以，但對大學生來說深度不足。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>二十一世紀機器人新律：如何打造有AI參與的理想社會？</td>
          <td>法蘭克・巴斯夸利</td>
          <td>Hyread 台北市圖有，這是一本非常高品質而且深入的書，講AI如何影響人和社會。非常的嚴謹，有80頁的註釋，非常適合關注AI會如何影響社會的讀者閱讀。但不適合AI的初學者。原文書(英文)出版於2020年。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>新一代AI霸主：深度強化學習從基礎開始到專案開發</td>
          <td>董豪、丁子涵、仉尚航</td>
          <td>這本書是寫給學習深度強化學習的程式設計師讀的，滿滿的程式碼、開發工具、和演算法理論的教學及介紹。不是給入門的初學者讀的。</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>人工智慧導論實驗</td>
          <td>余萍</td>
          <td>這本書是《人工智慧導論》(2021年徐潔磐編)的實作課程教授，內容是用Python語言和類神經路的framework，去實作一些機器學習的演算法。這本書適合已經懂了Python語法，想要獲得一些機器學習程式經驗的初學者。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>最新人工智慧概論含AIL國際認證</td>
          <td>戴建耘</td>
          <td>校圖有一紙本。這本書的設計像是高普考的考試用書，附有大量的練習題。著重在文字描述、完全不講數學，看來是要讀者背下那些文字去應考，而且有非常多低相關性、沒有什麼知識內容的照片。</td>
        </tr>
      <tbody>
    </table>
  </div>
</div>