---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}

    <h4 id="課程資訊">課程資訊</h4>
    <p>本門課程的內容為人工智慧的介紹，旨在培養學生對人工智慧的基礎認識。課程的涵蓋範圍為：人工智慧的歷史、人工智慧的研究到影響，人工智慧各領域的應用。本門課之教學目標為培養學生具備人工智慧的基本知識。課程進行為方式為上課講授與讀書報告，期中期末以考試檢驗成果。由於坊間及網路上講解人工智慧的書籍與影片很多，修課同學可以自由參考彈性學習，有疑惑由老師和助教幫忙解答。</p>

    <h4 id="修課需求">修課需求</h4>
    <p>基本的中文說聽讀寫能力。</p>

    <h4 id="成績計算">成績計算</h4>
    <p>期中考 30% 期末報告 55% 出席 15%</p>

    <h4 id="教科書">教科書</h4>
    <p>待定</p>
    
    <h4 id="參考書籍與資料">參考書籍與資料</h4>
    
    <table>
      <tbody>
        <tr>
          <td>年份</td>
          <td>題名</td>
          <td>講者</td>
          <td>媒體</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>23.10.02【豐富│世界一把抓】阮慕驊 ╳ 蘇經天：新AI與新人類</td>
          <td>阮慕驊 ╳ 蘇經天</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=k3cjv9_yRgg&ab_channel=%E8%B1%90%E5%AF%8C">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>The Turing Lectures: The future of generative AI</td>
          <td>Michael Wooldridge</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=2kSl0xkq2lM&amp;ab_channel=TheAlanTuringInstitute">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI and the future of humanity</td>
          <td>Yuval Noah Harari</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=LWiM-LuRe6w&amp;ab_channel=YuvalNoahHarari">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>TELL Talk《AI時代的英語學習力》</td>
          <td>李海碩</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=RJ3NCzLaZLM&amp;ab_channel=%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%A4%96%E8%AA%9E%E6%95%99%E5%AD%B8%E6%9A%A8%E8%B3%87%E6%BA%90%E4%B8%AD%E5%BF%83">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>善用ChatGPT，讓專業的你更亮眼 ! 生成式AI主題論壇</td>
          <td>Esor Huang</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=iBWJ5rJ_a6I&amp;ab_channel=%E8%87%BA%E5%A4%A7%E6%BC%94%E8%AC%9B%E7%B6%B2">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>人工智慧的契機 (Opportunities in AI)</td>
          <td>Andrew Ng</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=-HHy2ltmQp8&amp;ab_channel=%E8%87%BA%E5%A4%A7%E6%BC%94%E8%AC%9B%E7%B6%B2">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI時代，你跟上了嗎？</td>
          <td>李宏毅</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=iqaiPyvDD4Y&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>打造AI職場力</td>
          <td>程世嘉 Sega</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=Z_TKi51hoCg&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>掌握AI行銷力</td>
          <td>程世嘉 Sega</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=gzJtKvSIP-w&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI生態系的未來人才</td>
          <td>蔡宗翰</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=se6hJ5QqMCo&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>復旦人工智能教授：未來3-5年，哪些工作會被AI取代？Fudan AI Professor Talks about Which Jobs Probably to be Replaced by AI</td>
          <td>一条</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=vT54wNB4DM4&amp;ab_channel=%E4%B8%80%E6%9D%A1Yit">(連結)</a></td>
        </tr>
        <tr>
          <td>2019</td>
          <td>人工智慧並沒有你想像中的聰明，但它做得到</td>
          <td>傑夫．迪恩</td>
          <td>TED <a href="https://www.ted.com/talks/jeff_dean_ai_isn_t_as_smart_as_you_think_but_it_could_be?language=zh-tw">(連結)</a></td>
        </tr>
        <tr>
          <td>2024仍有效</td>
          <td><a href="https://playground.tensorflow.org/">https://playground.tensorflow.org/</a></td>
          <td>Google </td>
          <td>讓人淺嘗類神經網路機器學習的網頁</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>未來司法：AI法官 (Artificial Justice Justice in times of digital colonialism)</td>
          <td> </td>
          <td>紀錄片</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>成人世界 (Chappie)</td>
          <td>沙托．科普利主演 </td>
          <td>科幻電影</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>雲端情人 (Her)</td>
          <td>史派克．瓊斯導演 </td>
          <td>科幻愛情劇情電影</td>
        </tr>
        <tr>
          <td>2004</td>
          <td>機械公敵 (I, Robot)</td>
          <td>威爾．史密斯主演 </td>
          <td>科幻動作電影</td>
        </tr>
        <tr>
          <td>2001</td>
          <td>A.I. 人工智慧 (A.I. Artificial Intelligence)</td>
          <td>史蒂芬．史匹柏導演 </td>
          <td>科幻電影</td>
        </tr>
        <tr>
          <td>1999</td>
          <td>變人 (Bicentennial Man)</td>
          <td>羅賓．威廉斯主演 </td>
          <td>科幻喜劇電影</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>新AI與新人類</td>
          <td>蘇經天</td>
          <td>Hyread 北市圖有這本，但只有三本的量，很難借到。這本書出於2023年9月，介紹了非常多2023年才廣為使用的AI工具，像是ChatGPT, Midjourney，而且作者學識淵博、言之有物，介紹這些工具時，會提一些技術，但不會講的太深，適合想要瞭解最新的AI有哪些、是什麼、影響為何、技術是什麼，但又不想花太多時間鑽研技術的讀者。蘇博士有一集YouTube直播講此書。<a href="https://www.youtube.com/watch?v=k3cjv9_yRgg&ab_channel=%E8%B1%90%E5%AF%8C">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>哈佛商業評論推薦必讀的AI趨勢</td>
          <td>哈佛商業評論</td>
          <td>Hyread 校圖有，可線上讀，選Epub版比較適合在螢幕上讀。這本書是十二篇文章的合集，寫作的年份從2020到2022。因為哈佛商業評論的讀者大部份是高階主管，所以這十二篇文章講的主要是AI的影響，偶爾提到一點AI的技術。哈佛商業評論的文章水準一向很高，這本書非常值得一讀。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>寫給小學生看的AI課：看故事，輕鬆搞懂AI人工智慧</td>
          <td>蔡宗翰 </td>
          <td>Hyread 北市圖有，可借數3本，很少，可部份試閱。寫的小學生看的，有注音符號和漫畫，極淺，但幾個大主題：醫療、遊戲、GAN、聊天機器人、電腦視覺、自駕車、音樂、文生圖，都有涵蓋到。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>人工智慧(第二版)</td>
          <td>張志勇等5人</td>
          <td>Hyread 校園有，二版的排版和初版(2020)不同，但內容的差異非常微小，都是調換位置。二版有電子書，初版沒有。電子書的優點之一是100%全彩，而紙本書只有20%全彩(初版二版都是)，而黑白印刷的部份，有提到紅線、藍線，卻根本分不出來。作者為淡江大學與龍華科大的教授群，內容豐富，涵蓋人工智慧的應用、演算法理論，會用到微積分的知識，並附帶很多實作程式碼，適合作為大學生學習人工智慧技術能力的教科書。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>寫給中學生看的AI課：AI生態系需要文理兼具的未來人才</td>
          <td>蔡宗翰 </td>
          <td>Hyread 校圖有，可線上讀。2023/6有一個增訂版，多了一節2.10生成式AI，因為ChatGPT在22年底才開放給大眾使用。這本書的特色是蔡教授講了很多了他自己在教學現場的故事。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>人工智慧導論：理論、實務及素養</td>
          <td>葛宗融等14人 </td>
          <td>校圖有一本紙本。這本書是14位中原大學教授的合著，涵蓋的領範圍很廣，很適合用以增長見識。但這本書沒有出電子版，又已經絕版，不容易取得。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>AI之書：圖解人工智慧發展史</td>
          <td>柯利弗德．皮寇弗(Clifford A. Pickover) </td>
          <td>Hyread 校圖有，這本書完全不講技術，而是一本科普書，講各種帶有智能或考驗人類智能的機器的歷史，讀起來很輕鬆，但寫得出來要極廣泛的知識。原文書出版於2019年。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>AI背後的暗知識：機器如何學習、認知與改造我們的未來世界</td>
          <td>王維嘉</td>
          <td>Hyread 新北市圖有。這本書的書寫於2019年，以非常高的角度，討論AI如何從底層的技術突破，一路影響到科技產業、職場工作、人類文明、是一本非常宏觀的書，適合給決策者讀以增加其思考判斷的依據。因為寫於2019年，並沒有預知到2019年之後普及的AI技術，像是ChatGPT、文生圖等。但2019年時就大膽預測AI對社會的影響重大，讀者可以以2024的眼光去回測，看看其預測是否有命中。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>全面了解人工智慧：從基本機制到應用例，以及未來發展 人人伽利略05</td>
          <td>日本Newton Press</td>
          <td>這本書只有紙本，是日本牛頓科學月刊的專冊翻譯本。印刷精美，內容深入淺出，因為牛頓出版社的宗旨就是以貼近日常生活、簡單易明、行文流暢的文章介紹科學知識，佐以大量照片及電腦模擬圖像作為賣點。但因為是為日本讀者而編，所以書中談論的將棋、日翻英，對台灣讀者來說有點隔闔。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>人工智慧導論</td>
          <td>謝邦昌、蘇志雄</td>
          <td>Hyread 校圖有。這本書第一章簡介，第二章機器學習概論，第三章影像辨識，第四章語音辨識，第五章自然語言處理，第六章人工智慧的未來。可看成是第一、二、六章的知識章節加第三到五章三個人工智慧的大主題。就內容而言，第一章相當宏觀，第三章又非常入門，連如何操作Google Colab也教，整本書顯得很混亂。畢竟人工智慧的知識很廣，這本書又講高層又講底層的知識，顯得定位不明確。這本書有一個特點是涵蓋了非常多網路超連結參考資料。</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>人工智慧導論</td>
          <td>鴻海教育基金會出版，陳信希等11人著</td>
          <td>這本書是為高中生授課而創，由台大交大中大政大教授主編，內容紮實，有不少數學，並且有預製的投影片、學習單、教學進度免費下載，足以上36小時的課，是一套非常完整的教材。</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>人工智慧基礎</td>
          <td>湯曉鷗、陳玉琨主編</td>
          <td>這本書是為上海市的高中生編的，年份為2018年，校圖有一本紙本，Hyread沒有電子版。這本書編的品質很穩定，講一些數學，但不會講太多，而且完全不碰程式的部份，只講基礎概念。書中章節涵蓋人工智慧的幾個大主題，為影像分類、影像辨識、音樂、視訊辨識、Clustering、自然語言處理、圖像生成、AlphaGo。但因為成書於2018，所以影像分類講了很了SVM，圖像生成只講了GAN，自然語言處理沒有提到ChatGPT。</td>
        </tr>
      </tbody>
    </table>

        
    <h4 id="不適合通識課書籍">以下的書不符合我們的課程通識的需求，但我也列出來供同學參考。</h4>
    <table>
      <tbody>
        <tr>
          <td>年份</td>
          <td>題名</td>
          <td>講者</td>
          <td>媒體</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>二十一世紀機器人新律：如何打造有AI參與的理想社會？</td>
          <td>法蘭克・巴斯夸利</td>
          <td>Hyread 台北市圖有，這是一本非常高品質而且深入的書，講AI如何影響人和社會。非常的嚴謹，有80頁的註釋，非常適合關注AI會如何影響社會的讀者閱讀。但不適合AI的初學者。原文書(英文)出版於2020年。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>新一代AI霸主：深度強化學習從基礎開始到專案開發</td>
          <td>董豪、丁子涵、仉尚航</td>
          <td>這本書是寫給學習深度強化學習的程式設計師讀的，滿滿的程式碼、開發工具、和演算法理論的教學及介紹。不是給入門的初學者讀的。</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>人工智慧導論實驗</td>
          <td>余萍</td>
          <td>這本書的內容是用Python語言和類神經路的framework，去實作一些機器學習的演算法。這本書適合已經懂了Python語法，想要獲得一些機器學習程式經驗的初學者。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>最新人工智慧概論含AIL國際認證</td>
          <td>戴建耘</td>
          <td>校圖有一紙本。這本書的設計像是高普考的考試用書，附有大量的練習題。著重在文字描述、完全不講數學，看來是要讀者背下那些文字去應考，而且有非常多低相關性、沒有什麼知識內容的照片。</td>
        </tr>
      <tbody>
    </table>
  </div>
</div>