---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}

    <h4 id="課程資訊">課程資訊</h4>
    <p>本門課程的內容為人工智慧的介紹，旨在培養學生對人工智慧的基礎認識。課程的涵蓋範圍為：人工智慧的歷史、人工智慧的研究到影響，人工智慧各領域的應用。本門課之教學目標為培養學生具備人工智慧的基本知識。課程進行為方式為上課講授與讀書報告，期中期末以考試檢驗成果。由於坊間及網路上講解人工智慧的書籍與影片很多，修課同學可以自由參考彈性學習，有疑惑由老師和助教幫忙解答。</p>

    <h4 id="修課需求">修課需求</h4>
    <p>基本的中文說聽讀寫能力。</p>

    <h4 id="成績計算">成績計算</h4>
    <p>期末報告 85% 出席 15%</p>

    <h4 id="教科書">教科書</h4>
    <p>待定</p>
    
    <h4 id="參考書籍與資料">參考書籍與資料</h4>
    
    <table>
      <tbody>
        <tr>
          <td>年份</td>
          <td>題名</td>
          <td>講者</td>
          <td>媒體</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>The Turing Lectures: The future of generative AI</td>
          <td>Michael Wooldridge</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=2kSl0xkq2lM&amp;ab_channel=TheAlanTuringInstitute">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI and the future of humanity</td>
          <td>Yuval Noah Harari</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=LWiM-LuRe6w&amp;ab_channel=YuvalNoahHarari">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>TELL Talk《AI時代的英語學習力》</td>
          <td>李海碩</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=RJ3NCzLaZLM&amp;ab_channel=%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%A4%96%E8%AA%9E%E6%95%99%E5%AD%B8%E6%9A%A8%E8%B3%87%E6%BA%90%E4%B8%AD%E5%BF%83">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>善用ChatGPT，讓專業的你更亮眼 ! 生成式AI主題論壇</td>
          <td>Esor Huang</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=iBWJ5rJ_a6I&amp;ab_channel=%E8%87%BA%E5%A4%A7%E6%BC%94%E8%AC%9B%E7%B6%B2">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>人工智慧的契機 (Opportunities in AI)</td>
          <td>Andrew Ng</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=-HHy2ltmQp8&amp;ab_channel=%E8%87%BA%E5%A4%A7%E6%BC%94%E8%AC%9B%E7%B6%B2">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI時代，你跟上了嗎？</td>
          <td>李宏毅</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=iqaiPyvDD4Y&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>打造AI職場力</td>
          <td>程世嘉 Sega</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=Z_TKi51hoCg&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>掌握AI行銷力</td>
          <td>程世嘉 Sega</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=gzJtKvSIP-w&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>AI生態系的未來人才</td>
          <td>蔡宗翰</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=se6hJ5QqMCo&amp;ab_channel=%E5%A4%A7%E6%84%9B%E4%BA%BA%E6%96%87%E8%AC%9B%E5%A0%82">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>復旦人工智能教授：未來3-5年，哪些工作會被AI取代？Fudan AI Professor Talks about Which Jobs Probably to be Replaced by AI</td>
          <td>楊軍復</td>
          <td>YouTube <a href="https://www.youtube.com/watch?v=vT54wNB4DM4&amp;ab_channel=%E4%B8%80%E6%9D%A1Yit">(連結)</a></td>
        </tr>
        <tr>
          <td>2022</td>
          <td>未來司法：AI法官 (Artificial Justice Justice in times of digital colonialism)</td>
          <td> </td>
          <td>DVD</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>人工智慧並沒有你想像中的聰明，但它做得到</td>
          <td> </td>
          <td>TED <a href="https://www.ted.com/talks/jeff_dean_ai_isn_t_as_smart_as_you_think_but_it_could_be?language=zh-tw">(連結)</a></td>
        </tr>
        <tr>
          <td>2018</td>
          <td>MIT 6.S094 自駕車</td>
          <td> </td>
          <td>YouTube <a href="https://www.youtube.com/playlist?list=PLts9ZnoIwN9MJOXSFal2wFImRjfUhmYSP">(連結)</a></td>
        </tr>
      </tbody>
    </table>
        
  </div>
</div>
