---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}

    <h4 id="課程資訊">課程資訊</h4>
    <p>本門課程的內容是教授Python程式設計的概念和技巧給未來會在健康領域工作的學生。課程的涵蓋範圍為：基本語法介紹、物件導向與套件使用。本門課之教學目標為培養學生程式撰寫之基礎概念，使學生具備理解程式語言之能力，能進行初階的資訊分析及系統開發。課程進行為方式為上課講授與上機練習，期中期末利用上機考檢驗成果。由於坊間及網路上教導Python程式設計的書籍與影片很多，修課同學可以自由參考彈性學習，有疑惑由老師和助教幫忙解答。</p>

    <h4 id="修課需求">修課需求</h4>
    <p>高中程度的數學基礎。</p>

    <h4 id="成績計算">成績計算</h4>
    <p>習題 10% 期中考 30% 專題報告 45% 出席 15%</p>

    <h4 id="教科書">教科書</h4>
    <p>不指定，各位同學自己去找一本喜歡的Python基礎語法的書即可，也可以讀Python官網提供的入門文件<a href="https://docs.python.org/zh-tw/3/tutorial/index.html">(連接)</a>。Python 3的基礎語法，已經成熟定型多年了，2017年的書在2024年仍然適用。Python 3.8版之後新增的語法較明顯的只有Match-case，其他都很微小，同學大概不會遇到。有紙本書的好處是筆記方便，翻查輕鬆。</p>
    
    <h4 id="學習資源">學習資源</h4>
    <p></p>

    <h4 id="參考書籍與資料(以解釋語法為主的)">參考書籍與資料(以解釋語法為主的)</h4>
    
    <table>
      <thead>
        <tr>
          <th>出版年</th>
          <th>題名</th>
          <th>作者</th>
          <th>註</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>持續更新</td>
          <td>Python教學</td>
          <td>Python基金會</td>
          <td>基金會給初學者的官方入門文件，已經譯成繁體中文，內容等同於一本Python入門書籍。<a href="https://docs.python.org/zh-tw/3/tutorial/index.html">(連結)</a></td>
        </tr>
        <tr>
          <td>2023</td>
          <td>Hello Python! Python入門詳細介紹</td>
          <td>KC</td>
          <td>部落格文章，Python共36篇，入門語法18篇。<a href="https://simplelearn.tw/python-intro/">https://simplelearn.tw/python-intro/</a></td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Python零基礎入門班(含ITS Python國際認證模擬試題)</td>
          <td>文淵閣工作室 </td>
          <td>碁峰ACL064500。Hyread 線上有，用校圖的帳號可以下載也可以線上讀。<a href="https://www.gotop.com.tw/books/download.aspx?bookid=acl064500">範例及影片下載</a>。碁峰幾乎每年都會出一本「Python零基礎入門班」的書，像是2023年是第四版，2021年是第三版，2020年叫作「Python零基礎入門班(含MTA Python國際認證模擬試題)」。書名略有不同，因為他們每次都會微調內容，像是第四版加入了Google Colab的小節，範例影片多了用ChatGPT生成程式碼的內容，或者是習題裏的計程車車資起跳價隨著物價而更新。但Python語法的的部份，則是都差不多。因為校圖電子書庫還沒有納入最新的第四版，所以推薦使用這本。這本含了不少筆誤，甚至在書末的國際認證模擬試題裏也有，品質不是很嚴謹，但它的章節編得很清楚，而且講得很淺，只講語法，不講套件，又有習題和測試題，適合對初學者的教學。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>最新Python基礎必修課(含ITS Python國際認證模擬試題)</td>
          <td>蔡文龍 何嘉益 張志成 張力元</td>
          <td>碁峰AEL025100 Hyread 校圖有，前9章講語法，第10章matplolib，11章tkinter，12章網頁擷取 <a href="https://www.gotop.com.tw/books/download.aspx?bookid=AEL025100">範例下載</a></td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python邁向領航者之路：超零基礎(全彩印刷)</td>
          <td>洪錦魁 </td>
          <td>校圖有電子書。深智DM2022，洪錦魁先生每年都會出好幾本Python的書籍，題名裏有「零基礎」的，主要都是在講Python基礎語法，各本之間的差異，常常只是一章或兩章特定領域的應用。例如這本，內容為2018年的《Python超零基礎最快樂學習之路 王者歸來》(XB1836)一樣，只是多了第17章海龜繪圖 <a href="https://deepwisdom.com.tw/%e8%b3%87%e6%ba%90%e4%b8%8b%e8%bc%89/">範例下載</a>，需要先登入。因為內容重覆性高，所以如果有比較晚出版的，就讀比較晚出版的，因為編輯環境每年都會更新，如果沒有，早期的版本也可以，因為Python語言近年來已經趨於穩定，更新的速度並不快。洪錦魁系列的書拿來自修都沒問題，範例程式碼非常多，也很好懂，但它沒有拿來考試用的是非選擇題組，所以我沒有取這本書來上課用。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python從初學到生活應用超實務</td>
          <td>陳會安</td>
          <td>博碩MP22205 Hyread 校圖可線上借，前4章講語法，5~16講各12種應用 <a href="https://www.drmaster.com.tw/Bookinfo.asp?BookID=MP22205">範例下載</a></td>
        </tr>
        <tr>
          <td>2022</td>
          <td>好好玩!Python程式設計入門與實例應用:鍛鍊邏輯思維x徹底掌握核心</td>
          <td>李馨</td>
          <td>博碩MP32201 校圖有紙本書，第2章海龜繪圖，第3~8章語法，第9章GUI，第10章PyGame <a href="https://www.drmaster.com.tw/Bookinfo.asp?BookID=MP32201">範例下載</a></td>
        </tr>
        <tr>
          <td>2022</td>
          <td>從零開始學Python程式設計(第三版)</td>
          <td>李馨</td>
          <td>博碩MP32206 Hyread 校圖有，前13章講語法，14章檔案，15章GUI，16章海龜繪圖 <a href="https://www.drmaster.com.tw/Bookinfo.asp?BookID=MP32206">範例下載</a>。這本書不追求淺顯易懂，而是追求紮實的內容，第二章基本語法就開始使用模組了。</td>
          <!--這本是課用書，但課後評量只有填充題，還有實作與問答。答案要以教師身份登入博碩官網才能下載。一般讀者只能下載範例。答案是有錯的，需要自己檢查一遍。-->
        </tr>
        <tr>
          <td>2021</td>
          <td>Python程式設計：從入門到進階應用(第三版)</td>
          <td>黃建庭</td>
          <td>前10章語法，第11章標準函式庫，第12章網際網路相關模組：urlib, JSON, XML, BeautifulSoup，第13章資料庫相關模組，第14章Pillow, PyQRCode, NumPy, SciPy, Matplotlib。</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Python程式設計實務-從入門到精通step by step</td>
          <td>榮欽科技</td>
          <td>博碩MP32104校圖有電子書，連往華藝電子書可讀。</td>
          <!--這本書有課後習題，但不附答案，也不在下載範例檔裏。-->
        </tr>
        
      </tbody>
    </table>

    <br/>
    <h4 id="參考書籍與資料(特定領域的應用)">參考書籍與資料(特定領域的應用)</h4>
    <table>
      <thead>
        <tr>
          <th>出版年</th>
          <th>題名</th>
          <th>作者</th>
          <th>註</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023/4</td>
          <td>Python × ChatGPT x Excel 高效率打造</td>
          <td>陳會安</td>
          <td>旗標F3034 校圖有紙本。前3章為基本語法，第4和10章介紹用ChatGPT產生Python程式碼。第5章介紹os, pathlib, shutil等檔案操作模組。第6~9章介紹以openpyxl套件操作Excel。第11~14章講以Excel製作圖表，只有第14章與Python有關。第15章Pandas，第16章Matpltlib，最後兩章Seaborn和案例在紙本書裏沒有，要去旗標網站下載。這本書涵蓋面廣，不是入門書，對有興趣瞭解以Python操作Excel的同學，可以增廣見聞。</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>Python × Excel的12堂關鍵必修課：資料分析自動化的194個高效實戰例</td>
          <td>吳燦銘</td>
          <td>博碩MP22305 Hyread 新北市圖有，可以以文化部計次服務無限數量借閱。內容以xlwings為主，兼介紹pandas, matplotlib, pyecharts。這本書不是入門書，因為它假設讀者已經熟悉Python語法了。用Python操作Excel是達到自動化很實用的功能，對各位同學未來的工作很有可能派得上用場。</td>
        </tr>
        <tr>
          <td>2022/12</td>
          <td>看圖學Python+Excell辦公室化程式設計</td>
          <td>陳會安</td>
          <td>全華06512 校圖有紙本。前8章為基本語法，第9章模組與套件，第10章pathlib, PIL, os, shutil模組，第11章JSON和CVS，第12章Excel，第13章VBA，第14章Excel繪製圖表，第15章用Python操作Word和PowerPoint，第16章PDF。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python GUI設計活用tkinter之路(第三版)：王者歸來</td>
          <td>洪錦魁</td>
          <td>深智DM2009MP32112 Hyread 校圖有電子書，量為兩本，新北市圖則有無限量。專門講tkinter的書，講得非常詳細。</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Python GUI程式設計：PyQt5實戰</td>
          <td>王碩、孫洋洋</td>
          <td>博碩MP12020 這本書沒有出電子版，校圖有紙本，從書名可知，它是專講PyQt的書。這本書非常的技術，鑽得很深。因為作者是中國人，所以範例檔裏的註解是簡體中文。</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>真槍實彈作專案 PyQt極速開發視窗軟體</td>
          <td>明日科技</td>
          <td>深智DM2167 Hyread 新北市圖有，可無限量借。這本書比《Python GUI程式設計：PyQt5實戰》來得淺，因為它分心去講Python語法和一小部份資料庫。</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>數位與醫學的人工智慧影像處理：Python實務</td>
          <td>黃正達 蔡旻嶧 王旭正</td>
          <td>博碩MP32112 Hyread 校圖有。前兩章：醫學影像，第3~6章OpenCV，第7章：機器學習，第8~11章，醫學影像的常用技術。</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Python實戰聖經：用簡單強大的模組套件完成最強應用</td>
          <td>文淵閣工作室</td>
          <td>碁峰ACL064300 Hyread 校圖有 這本書像是一門模組的小百科全書，講非常多領域的代表模組，每一個都講淺淺的一點點。作者使用Google Colab、介紹的範圍涵蓋爬蟲模組、圖片、YouTube下載模組、影像、聲音、影片處理模組、語音轉文字、文字轉語音、翻譯模組、匯率、股價模組、臉部辦識模組、物件偵測、OCR模組、繁簡轉換、中文斷詞模組、情緒分析、聊天機器人模組、瀏覽器自動化、鍵盤滑鼠自動化模組、MediaPipe、cvzone電腦視覺模組、無程式碼機器學習模組、條碼、QRCode模組、定時執行模組、進度條模組、身份證字號檢查模組、農曆日期模組。本書的最後一章向讀者示範如何將自製模組上傳至PyPI。<a href="https://www.gotop.com.tw/books/download.aspx?bookid=acl064300">範例及教學影片下載</a> 教學影片含Google Colab及Teachable Machine</td>
        </tr>
      </tbody>
    </table>

    <br/>

    <h4 id="參考書籍與資料(與Python無直接相關，但寫程式時用得著的)">參考書籍與資料(與Python無直接相關，但寫程式時用得著的)</h4>
    <table>
      <thead>
        <tr>
          <td>2019</td>
          <td>GitHub創辨人親自指導你精通Git</td>
          <td>Chacon Scott, Straub Ben</td>
          <td>深石XB1909 Hyread 校圖有，內容為網路書籍<a href="https://git-scm.com/book/zh/v2">Pro Git</a>的翻譯，可直接從官網上閱讀或下載pdf，原文為英文版，簡中版翻譯比例高，繁中版翻譯比例低，深石版翻譯很完整。</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
