---
layout: default
---
<style>
  table td {
    text-align: center;
    border: none !important;
  }
</style>

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">People</h3>
<h4> Professor </h4>
<table border= "0">
  <tr>
    <td align="center"><img src="{{ site.github.url }}/assets/img/cyyang20241018.jpg" alt="Chih-Yuan Yang" height="100"></td>
  </tr>
  <tr>
    <td align="center">Chih-Yuan Yang</td>
  </tr>
  <tr>
    <td align="center">楊智淵</td>
  </tr>
</table>

<h4> Master's students </h4>
<table border= "0">
  <tr>
    <td align="center"><img src="{{ site.github.url }}/assets/img/Brian_Liu.jpg" alt="Brian Liu" height="100"></td>
    <td align="center"><img src="{{ site.github.url }}/assets/img/Wayne_Tsai.jpg" alt="Wayne Tsai" height="100"></td>
    <td align="center"><img src="{{ site.github.url }}/assets/img/Eric_Lu.png" alt="Eric Liu" height="100"></td>
  </tr>
  <tr>
    <td align="center">Brian Liu</td>
    <td align="center">Wanye Tsai</td>
    <td align="center">Eric Lu</td>
  </tr>
  <tr>
    <td align="center">劉冠亨</td>
    <td align="center">蔡承原</td>
    <td align="center">盧睿霆</td>
  </tr>
  <tr>
    <td align="center"><a href="{{ site.github.url }}/people/Brian_Liu">More info</a></td>
    <td align="center"><a href="{{ site.github.url }}/people/Wayne_Tsai">More info</a></td>
    <td align="center"><a href="{{ site.github.url }}/people/Eric_Lu">More info</a></td>
  </tr>
</table>

<h4> Capstone students </h4>
<table border= "0">
  <tr>
    <td align="center"><img src="{{ site.github.url }}/assets/img/Matt_Wu.png" alt="Matt Wu" height="100"></td>
    <td align="center"><img src="{{ site.github.url }}/assets/img/Eric_Chen.jpg" alt="Eric Chen" height="100"></td>
  </tr>
  <tr>
    <td align="center">Matt Wu</td>
    <td align="center">Eric Chen</td>
  </tr>
  <tr>
    <td align="center">吳奕廷</td>
    <td align="center">陳毅</td>
  </tr>
  <tr>
    <td align="center"><a href="{{ site.github.url }}/people/Matt_Wu">More info</a></td>
    <td align="center"><a href="{{ site.github.url }}/people/Eric_Chen">More info</a></td>
  </tr>
</table>

